# NO NECESARIAS
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# SI NECESARIAS
DATABASE_URL="mysql://3s3n9jXPRmMG3ix.root:Mfuv7NN74ZrmvKn3@gateway01.us-east-1.prod.aws.tidbcloud.com:4000/test?sslaccept=strict"
JWT_SECRET="secret-key"
BASE_URL="http://192.168.1.14:4021"